.maindiv {
  text-align: center;
  margin: auto;
}

body {
  background-color:#393E46;
  height:100%;
}

.block {
  text-align:center;
  display: inline-block;
  margin:2%;
}

h1 {
  color: #00FA9A;
  font-size:8rem;
}

h3 {
  color: #00FA9A;
  font-size:2rem;
  font-family: 'Indie Flower', cursive;
}

footer{
  margin-top: 5%;
  text-align:center;
  font-family: 'Indie Flower', cursive;
}
